<!DOCTYPE html>
<html>
<head>
    <title>Online Moska</title>
    <style>
        .logout {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
    <style>
    .bottom-link {
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
      }
    </style>
</head>
<body>
    <a href="/logout" class="logout">Logout</a>
    <h1>Welcome to The one and only online Moska!</h1>
    <p>Please choose an option below:</p>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/play-anonymously">Play anonymously</a></li>
    </ul>
    <div class="bottom-link">
        <a href="https://github.com/ilmari99/moska">GitHub</a>
    </div>
</body>
</html>
