<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
</head>
<body>
    <h1>Create User. Data about the games is used for research.</h1>
    <form action="/register" method="post">
        <label>Username:</label><br>
        <input type="text" name="username"><br>
        <label>Password:</label><br>
        <input type="password" name="password"><br>
        <label>What is your experience level in Moska:</label>
        <select name="experience">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option> <br>
        </select><br>
        <label>E-mail (optional):</label><br>
        <input type="text" name="email"><br>
        <input type="submit" value="Create User">
    </form>
</body>
</html>
